<!DOCTYPE html>
<html>
<head>

    
    <!-- Define o ícone da página -->
   <link rel="icon" href="https://i.imgur.com/XNahCNe.png">
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cam-Hot</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #fff;
    }

    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    .themes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    .theme-card {
      background-color: #f2f2f2;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      text-align: center;
      cursor: pointer;
      transition: transform 0.3s;
    }

    .theme-card:hover {
      transform: scale(1.05);
    }

    .theme-card img {
      width: 100%;
      max-height: 200px;
      object-fit: cover;
      border-radius: 10px;
    }

    .theme-card h2 {
      font-size: 24px;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .theme-card p {
      font-size: 16px;
      color: #777;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Escolha uma Sala</h1>
    <div class="themes">
      <div class="theme-card" onclick="window.location.href='https://cam-01.blackpanthersconnection.com.br/'">
        <img src="https://i.imgur.com/AVMrK65.png" alt="sala 1">
        <h2>Cam-Hot 01</h2>
      </div>
      <div class="theme-card" onclick="window.location.href='https://cam-02.blackpanthersconnection.com.br/'">
       <img src="https://i.imgur.com/AVMrK65.png" alt="sala 2">
        <h2>Cam-Hot 02</h2>
      </div>
      <div class="theme-card" onclick="window.location.href='https://cam-03.blackpanthersconnection.com.br/'">
        <img src="https://i.imgur.com/AVMrK65.png" alt="sala 3">
        <h2>Cam-Hot 03</h2>
      </div>
      <div class="theme-card" onclick="window.location.href='https://cam-04.blackpanthersconnection.com.br/'">
        <img src="https://i.imgur.com/AVMrK65.png" alt="sala 4">
        <h2>Cam-Hot 04</h2>
      </div>
      <div class="theme-card" onclick="window.location.href='https://cam-05.blackpanthersconnection.com.br/'">
        <img src="https://i.imgur.com/AVMrK65.png" alt="sala 5">
        <h2>Cam-Hot 05</h2>
        </div>
        <div class="theme-card" onclick="window.location.href='https://cam-06.blackpanthersconnection.com.br/'">
            <img src="https://i.imgur.com/AVMrK65.png" alt="sala 6">
            <h2>Cam-Hot 06</h2>
         </div>
         <div class="theme-card" onclick="window.location.href='https://cam-07.blackpanthersconnection.com.br/'">
            <img src="https://i.imgur.com/AVMrK65.png" alt="sala 7">
            <h2>Cam-Hot 07</h2>
         </div>
         <div class="theme-card" onclick="window.location.href='https://cam-08.blackpanthersconnection.com.br/'">
            <img src="https://i.imgur.com/AVMrK65.png" alt="sala 8">
            <h2>Cam-Hot 08</h2>
         </div>
         <div class="theme-card" onclick="window.location.href='https://cam-09.blackpanthersconnection.com.br/'">
            <img src="https://i.imgur.com/AVMrK65.png" alt="sala 9">
            <h2>Cam-Hot 09</h2>
         </div>
         <div class="theme-card" onclick="window.location.href='https://cam-10.blackpanthersconnection.com.br/'">
            <img src="https://i.imgur.com/AVMrK65.png" alt="sala 10">
            <h2>Cam-Hot 10</h2>
         </div>
     </div>
    </div>
  </div>
</body>
</html>
